.header {
  background-color: #32BEA6;
  height: 100px;
  width: 100%;
}

.content {
  flex: 1;
}

.button {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.details {
  font-size: 30px;
}

.text {
  font-size: 30px;
  font-weight: bold;
  color: #32BEA6;
}