body {
  margin: 0;
  background-color: #1E1E1E;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:hover, li:hover {
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.screen_content {
  /* display: block; */
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px; */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.screen_lcd {
  background-color: white;
  width: 70vw;
  height: 572px;
}

.text-center {
  text-align: center;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}